[submodule "meatwork-tools"]
	path = meatwork-tools
	url = https://github.com/meatwork-project/meatwork-tools.git
[submodule "meatwork-cmd"]
	path = meatwork-cmd
	url = https://github.com/meatwork-project/meatwork-cmd.git
[submodule "meatwork-test"]
	path = meatwork-test
	url = git@github.com:meatwork-project/meatwork-test.git
