[submodule "meatwork-core"]
	path = meatwork-core
	url = https://github.com/meatwork-project/meatwork-core.git
[submodule "meatwork-cmd"]
	path = meatwork-cmd
	url = https://github.com/meatwork-project/meatwork-cmd.git
[submodule "meatwork-test"]
	path = meatwork-test
	url = git@github.com:meatwork-project/meatwork-test.git
[submodule "meatwork-rpc"]
	path = meatwork-rpc
	url = git@github.com:meatwork-project/meatwork-rpc.git
[submodule "meatwork-event"]
	path = meatwork-event
	url = git@github.com:meatwork-project/meatwork-event.git
